.container {
    width: calc(100% - 200px);
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.title {
    font-size: 40px;
    font-family: var(--serif);
    text-align: center;
}

.divisor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.divisor span {
    height: 0;
    width: 35px;
    border: 1px solid var(--brown);
}

.divisor svg {
    font-size: 20px;
    color: var(--brown);
}

.text {
    max-width: 700px;
    text-align: center;
    color: var(--grey);
}

.menu {
    margin-top: 20px;
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menuItemData {
    width: 100%;
}

.menuItemDataNameAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.menuItemDataNameAndPriceName {
    font-size: 20px;
    font-weight: 800;
    font-family: var(--serif);
    white-space: nowrap;
}

.menuItemDataNameAndPrice hr {
    width: 100%;
    border: 1px solid var(--brown);
}

.menuItemDataNameAndPricePrice {
    font-size: 25px;
    font-family: var(--serif);
    color: var(--brown);
}

.menuItemDataDescription {
    color: var(--grey);
}

@media (max-width: 991px) {
    .container {
        width: calc(100% - 40px);
        padding: 50px 20px;
    }
    .menu {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 470px) {
    .menuItem {
        gap: 10px;
    }
    .menuItemDataNameAndPriceName {
        font-size: 16px;
        white-space: wrap;
    }
    .menuItemDataNameAndPricePrice {
        font-size: 16px;
    }
}
