.container {
    width: calc(100% - 200px);
    padding: 100px;
    display: flex;
    justify-content: center;
    background-image: url("../../assets/images/bannerBg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logo {
    height: 300px;
}

.logo img {
    height: 100%;
    width: 100%;
}

@media (max-width: 991px) {
    .container {
        width: calc(100% - 100px);
        padding: 50px;
    }
    .logo {
        height: auto;
    }
}
