.container {
    padding-top: 50px;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.photo {
    background-image: url("../../assets/images/auth.jpg");
    background-size: cover;
    background-position: center;
}

.overlay {
    height: calc(100% - 200px);
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlayLogo {
    width: 100%;
    max-width: 500px;
}

.overlayLogo img {
    width: 100%;
}

.overlayText {
    font-size: 16px;
    font-family: var(--serif);
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black;
}

.form {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-shadow: -3px 0 10px black;
}

.formTitles {
    width: 100%;
    max-width: 500px;
}

.formTitlesTitle {
    font-size: 50px;
    font-weight: 800;
    font-family: var(--serif);
    color: var(--brown);
}

.formTitlesSubtitle {
    font-size: 16px;
    color: var(--grey);
}

.formData {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.formDataFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formDataFieldsMessage {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #2fe98c;
}

.formDataFieldsField {
    display: flex;
    flex-direction: column;
}

.formDataFieldsField input {
    width: calc(100% - 32px);
    padding: 15px;
    border: 1px solid var(--grey);
}

.formDataFieldsField input:focus {
    outline: none;
    border: 1px solid var(--brown);
}

.error input {
    border: 1px solid red;
}

.formDataFieldsFieldError {
    align-self: flex-end;
    font-size: 10px;
    color: red;
}

.formDataTerms {
    display: flex;
    gap: 10px;
}

.formDataTermsField a {
    font-weight: 800;
    text-decoration: none;
    color: var(--brown);
}

.formDataTermsField a:hover {
    text-decoration: underline;
}

.formDataAuth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formDataAuthSubmit {
    width: 200px;
    padding: 15px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: var(--brown);
}

.formDataAuthSubmit:hover {
    cursor: pointer;
    background-color: var(--black);
    transition: 0.3s;
}

.formDataAuthSubmit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.formDataAuthSubmit:disabled:hover {
    background-color: var(--brown);
}

.formDataAuthRedirect a {
    font-weight: 800;
    text-decoration: none;
    color: var(--brown);
}

.formDataAuthRedirect a:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .container {
        grid-template-columns: 1fr;
    }
    .photo {
        display: none;
    }
    .form {
        padding: 20px;
    }
    .formTitlesTitle {
        font-size: 40px;
    }
    .formDataFieldsField input {
        width: calc(100% - 22px);
        padding: 10px;
    }
    .formDataAuthSubmit {
        width: 150px;
        padding: 12px;
    }
}
