.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title {
    width: 100%;
    max-width: 500px;
    font-size: 30px;
    font-family: var(--serif);
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.photoImage {
    height: 150px;
    width: 150px;
}

.photoImage img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid var(--grey);
}

.photoName {
    font-size: 20px;
    font-family: var(--serif);
}

.form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formSectionTitle {
    font-size: 16px;
    font-family: var(--serif);
}

.formSection input {
    width: calc(100% - 30px);
    padding: 15px;
    border: 1px solid var(--grey);
}

.formSection input:focus {
    outline: none;
    border: 1px solid var(--brown);
}

.error input {
    border: 1px solid red;
}

.formSectionError {
    align-self: flex-end;
    font-size: 10px;
    color: red;
}

.formButtons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.formButtonsLogout {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: var(--red);
    border: none;
    color: white;
}

.formButtonsSubmit {
    width: 120px;
    padding: 15px;
    font-size: 16px;
    background-color: var(--brown);
    border: none;
    color: white;
}

.formButtonsLogout:hover,
.formButtonsSubmit:hover {
    cursor: pointer;
    background-color: var(--black);
    transition: 0.3s;
}

.formButtonsSubmit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.formButtonsSubmit:disabled:hover {
    background-color: var(--brown);
}
