.container {
    max-width: 1000px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.title {
    font-size: 40px;
    font-family: var(--serif);
    text-align: center;
}

.divisor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.divisor span {
    height: 0;
    width: 35px;
    border: 1px solid var(--brown);
}

.divisor svg {
    font-size: 20px;
    color: var(--brown);
}

.text {
    max-width: 700px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 30px;
}

.cardsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cardsCard svg {
    font-size: 50px;
    color: var(--brown);
}

.cardsCardTitle {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    font-family: var(--serif);
}

.cardsCardText {
    text-align: center;
}

@media (max-width: 991px) {
    .container {
        padding: 50px 20px;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
